/* 
 * Configuration
 */

// Accent palette
$accent: #e72429;
$accent-complement: #e53c2e;
$accent-text-colour: white;

// Sizing
$margin: 0.25em;
$button-padding: 6px;
$navbar-height: 66px;

// Borders
$border-radius: 1rem;
$border-width: 1px;