@use '_configuration';
@use '_theme';

html#popup {
	max-height: 600px;
	display: flex;

	body {
		width: 360px;
		flex: 0 auto;
		display: flex;
		flex-direction: column;

		&>#saved-assignments {
			flex: 1 auto;
		}
	}

	h1 {
		margin-block-start: -0.14rem;
	}

	nav {
		width: fit-content;
	}
	
	#options-icon {
		cursor: pointer;
		position: relative;
		top: 0.36rem;
		margin-inline-end: calc(0.125 * configuration.$border-radius);
		
		svg {
			fill: configuration.$accent;
			width: 18px;
			height: 18px;
		}

		&:hover svg {
			fill: configuration.$accent-complement;
		}
	}

	#saved-assignments {
		display: flex;
		flex-direction: column;
		min-height: 0;

		&>.tile {
			flex: 1 auto;
			min-height: 0;

			&>*:not(#saved-courses-list) {
				flex: 0 auto;
				height: auto;
			}
		}

		.row {
			width: 90%;
			margin: auto;
		}

		#saved-courses-list {
			flex: 1 auto;
			color: var(--subdued-text-colour);
			min-height: 0;
			overflow-y: scroll;
			margin: 0;
			margin-bottom: min(calc(1.75 * configuration.$margin), 0.5rem);

			&::-webkit-scrollbar-thumb {
				background-color: var(--surface-scrollbar);

				&:hover {
					background-color: var(--surface-scrollbar-hover);
				}
			}

			p {
				margin: calc(0.5 * configuration.$margin) calc(1em + configuration.$margin);
				word-break: break-word;
			}

			p.code {
				color: var(--code-text-colour);
			}

			ol {
				margin-block-start: 0;
				margin-block-end: 0;

				&>li {
					font-size: 14px;
					margin-block: calc(0.5 * configuration.$margin);
				}

				ul {
					padding-inline-start: 21px;
					margin-block: calc(2.5 * configuration.$margin);
					list-style: '-   ';
				}
			}

			strong {
				color: var(--subdued-heading-colour);
				font-weight: 600;
			}
		}
	}
}