@use 'themes/_dark-mode';
@use 'themes/_light-mode';

@mixin generate-variables($theme) {

	@each $name,
	$value in $theme {
		--#{$name}: #{$value};
	}

	--element-shadow: rgba(#{map-get($theme, 'element')}, calc(#{map-get($theme, 'shadow-multiplier')} * 0.5));
	--green-shadow: rgba(#{map-get($theme, 'green')}, calc(#{map-get($theme, 'shadow-multiplier')} * 0.275));
	--red-shadow: rgba(#{map-get($theme, 'red')}, calc(#{map-get($theme, 'shadow-multiplier')} * 0.175));
}

:root.dark-mode {
	@include generate-variables(dark-mode.$theme);
}

:root.light-mode {
	@include generate-variables(light-mode.$theme);
}