$accent: #e72429;
$accent-complement: #e53c2e;
$background: #282828;
$surface: #1e1e1e;
$element: #141414;
$element-hover: #060606;
$element-active: #0d0d0d;
$element-scrollbar: #444444;
$element-border-colour: rgba(#000000, 0.125);
$green: #00b800;
$green-hover: #4dff4d;
$green-active: #25da25;
$red: #a80e0e;
$red-hover: #8b0000;
$red-active: #780000;
$text-colour: #ffffff;
$subdued-heading-colour: #d6d6d6;
$subdued-text-colour: #cccccc;
$margin: 0.25em;
$border-radius: 1rem;
$border-width: 1px;
$button-padding: 6px;
$navbar-height: 66px;