$accent: #e72429;
$accent-complement: #e53c2e;
$background: hsl(0, 0%, 98%);
$surface: hsl(0, 0%, 91%);
$element: hsl(0, 0%, 97%);
$element-hover: hsl(0, 0%, 100%);
$element-active: hsl(0, 0%, 95%);
$element-border-colour: rgba(#000000, 0.075);
$green: hsl(120, 100%, 36%);
$green-hover: hsl(120, 100%, 39%);
$green-active: hsl(120, 100%, 42%);
$red: #c40000;
$red-hover: #9e1d1d;
$red-active: #780000;
$text-colour: #000000;
$subdued-heading-colour: #282828;
$subdued-text-colour: #000000;
$margin: 0.25em;
$border-radius: 1rem;
$border-width: 1px;
$button-padding: 6px;
$navbar-height: 66px;
$shadow-multiplier: 0.4;