$accent: #e72429;
$accent-complement: #e53c2e;
$light-grey: #444444;
$background: #282828;
$dark-grey: #1e1e1e;
$darker-grey: #141414;
$darkest-grey: #060606;
$grey-active: #0d0d0d;
$green: #00b800;
$green-hover: #4dff4d;
$green-active: #25da25;
$red: #a80e0e;
$red-hover: #8b0000;
$red-active: #780000;
$text-colour: #ffffff;
$grey-text-colour: #d6d6d6;
$light-grey-text-colour: #cccccc;
$margin: 0.25em;
$border-radius: 1rem;
$border-width: 1px;
$button-padding: 6px;
$navbar-height: 66px;