:root {
	--accent: #e72429;
	--accent-complement: #e53c2e;
	--lighter-grey: #444444;
	--background: #282828;
	--dark-grey: #161616;
	--darker-grey: #080808;
	--green: #00cc00;
	--green-hover: #4dff4d;
	--red: #a01010;
	--red-hover: #8b0000;
	--text-colour: #ffffff;
	--grey-text-colour: #d6d6d6;
	--light-grey-text-colour: #cccccc;
	--margin: 0.25em;
	--border-radius: 2rem;
	--border-width: 1px;
}

::-webkit-scrollbar {
	width: 0.85rem;
	height: 0.85rem;
}

::-webkit-scrollbar-button {
	display: none;
}

::-webkit-scrollbar-thumb {
	background-color: var(--dark-grey);
	border-radius: 10px;
	cursor: pointer;
	border: 3px solid transparent;
	background-clip: content-box;
	min-height: 40%;
	max-height: 60%;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--darker-grey);
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

html {
	background-color: var(--background);
	color: var(--text-colour);
	font-family: ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		'Noto Sans',
		sans-serif;
	overflow: overlay;
}

#options {
	margin: auto;
	width: 600px;
}

body {
	width: 360px;
	margin: 2rem 1.5rem;
	font-size: 12px;
}

#options body {
	width: unset;
}

#popup h1 {
	margin-block-start: -0.14rem;
}

h2 {
	font-size: 1.45em;
}

#popup h2 {
	color: var(--grey-text-colour);
	font-size: 1.15em;
	margin-block-end: 0.23rem;
	letter-spacing: 0.04em;
	padding-inline-start: calc(0.125 * var(--border-radius));
}

h3 {
	font-size: 1.15em;
}

h2,
h3 {
	text-transform: uppercase;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: calc(2 * var(--margin));
	width: 100%;
}

.row>* {
	width: 100%;
}

#options-icon {
	width: fit-content;
	margin-inline-end: calc(0.125 * var(--border-radius));
	margin-top: 0.36rem;
}

#options-icon svg {
	fill: var(--accent);
	width: 18px;
	height: 18px;
}

#saved-courses-list {
	background-color: var(--darker-grey);
	color: var(--light-grey-text-colour);
	margin: var(--margin) 0;
	padding: var(--margin) 0;
	border-radius: calc(0.5 * var(--border-radius));
	max-height: 29vh;
	overflow-y: scroll;
}

#saved-courses-list::-webkit-scrollbar-thumb:hover {
	background-color: var(--background);
}

#saved-courses-list p {
	margin: 1em calc(1em + var(--margin));
	word-break: break-word;
	color: #bbb;
}

#saved-courses-list ol>li {
	font-size: 14px;
	margin-block: calc(0.5 * var(--margin));
}

#saved-courses-list strong {
	color: var(--grey-text-colour);
	font-weight: 600;
}

#saved-courses-list ol ul {
	padding-inline-start: 21px;
	margin-block: calc(2.5 * var(--margin));
	list-style: '-   ';
}

.button-icon {
	width: fit-content;
	position: absolute;
	left: 24px;
	vertical-align: middle;
	fill: var(--light-grey-text-colour);
	width: 16px;
	height: 16px;
}

.button {
	position: relative;
	cursor: pointer;
	user-select: none;
	margin: var(--margin) 0;
	padding: 10px;
	display: inline-block;
	background-color: var(--dark-grey);
	color: var(--text-colour);
	font-family: inherit;
	font-size: 0.825rem;
	text-decoration: none;
	text-align: center;
	border-radius: var(--border-radius);
	border: var(--border-width) solid transparent;
	box-sizing: border-box;
	transition: color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

.button.emphasis {
	font-weight: 700;
	border-color: var(--accent);
	margin: calc(1.25 * var(--margin)) 0;
}

.button:hover {
	background-color: var(--darker-grey);
}

.button.accent {
	color: var(--accent-complement);
}

.button.accent:hover {
	border-color: transparent;
	background-color: var(--accent);
	color: white;
}

.button.red-hover:hover {
	background-color: var(--red);
	color: white;
}

.button.red {
	margin: calc(1.25 * var(--margin)) 0;
	background-color: var(--red);
	color: white;
}

.button.red:hover {
	background-color: var(--red-hover);
	color: white;
}

.button.green {
	background-color: var(--green);
	color: black;
	font-weight: 600;
}

.button.green:hover {
	background-color: var(--green-hover);
	color: black;
}

.button.outline.green {
	color: var(--green);
	border-color: var(--green);
	background-color: var(--background);
}

.button.outline.green:hover {
	border-color: transparent;
	background-color: var(--green-hover);
	color: black;
}

.button:disabled {
	cursor: not-allowed;
}

#options a,
#saved-courses-list a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

#options a:hover,
#saved-courses-list a:hover {
	color: rgba(255, 255, 255, 0.75);
}

label {
	text-transform: uppercase;
	letter-spacing: 0.06em;
	color: var(--light-grey-text-colour);
	font-weight: 500;
	margin-inline-start: 20px;
}

label,
#options code {
	font-size: 0.75rem;
}

#options0.code {
	text-align: center;
}

label.required:before {
	content: '*';
	color: red;
}

input,
textarea {
	width: 100%;
	margin-top: calc(2 * var(--margin));
	margin-bottom: calc(4 * var(--margin));
	padding: 8px 20px;
	align-items: center;
	font-family: monospace;
	font-size: 0.75rem;
	background-color: var(--dark-grey);
	color: var(--light-grey-text-colour);
	border-radius: var(--border-radius);
	border: var(--border-width) solid rgba(0, 0, 0, 0.125);
	box-sizing: border-box;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
	background-color: var(--background);
}

input.invalid-input,
textarea.invalid-input {
	box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 27.5%);
}

input.invalid-input:focus,
textarea.invalid-input:focus {
	box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 15%);
}

.invalid-input-error {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 0.125em;
	margin-inline-start: 20px;
	color: rgb(255, 25, 25);
}

.validating-input-status {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 0.125em;
	margin-inline-start: 20px;
	color: rgb(25, 255, 25);
}

textarea {
	min-height: 75px;
	min-width: 100%;
	max-width: 100%;
	border-radius: calc(0.5 * var(--border-radius));
	text-align: center;
}

input:focus,
textarea:focus {
	box-shadow: 0 0 0 0.2rem rgb(20 20 20 / 50%);
	background-color: var(--darker-grey);
}

input:focus-visible,
textarea:focus-visible {
	outline: none;
}

.segmented-control-wrapper {
	padding-top: calc(2.5 * var(--margin));
	padding-bottom: calc(4 * var(--margin));
}

.segmented-control {
	display: flex;
	width: 100%;
	position: relative;
	user-select: none;
	z-index: 1;
	border: 0;
	border-radius: var(--border-radius);
	background-color: var(--dark-grey);
	color: var(--text-colour);
}

.segmented-control>input {
	display: none;
}

.segmented-control>input:checked+label {
	color: var(--accent-complement);
	font-weight: 700;
}

.segmented-control>input:nth-of-type(1):checked~label:last-of-type:before {
	transform: translateX(calc(0%));
}

.segmented-control>input:nth-of-type(2):checked~label:last-of-type:before {
	transform: translateX(calc(100%));
}

.segmented-control label {
	flex: 1;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	font-weight: unset;
	margin: 0;
}

.segmented-control label:last-of-type:before {
	content: '';
	display: block;
	max-width: calc(50%);
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	transform: translateX(0);
}

.segmented-control label {
	padding: 10px;
	transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.segmented-control label:before {
	transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
	border-radius: var(--border-radius);
	border: var(--border-width) solid var(--accent)
}